/*Style body*/
body {
    font-family: "Montserrat", sans-serif;
}

/*Flex columns*/
.header {
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.left {
    flex: 30%;
}

.middle {
    flex: 40%;
}

.right {
    flex: 30%;
}

/*Format logo*/
#logo {
    object-fit: scale-down;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*style logout button*/
#logout {
    position: absolute;
    right: 0px;
    margin-top: 15px;
    margin-right: 40px;
    text-decoration: none;
    color: #4d4d4d;
    background-color: #3ec5c5;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

/*style logout button*/
#logout:hover {
    background-color:  #3cc573;
}

/*Flex columns*/
.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

/*Left column*/
.nav {
    flex: 15%;
    background-color: #4d4d4d;
    padding: 20px;
}

/*Style links*/
.nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    text-align: right;
}           

/*Right column*/
.main {
    flex: 85%;
    background-image: url(images/background.jpg); 
    background-repeat: none;
    background-position: center center;
    height: 100vh;
}

/*Form Styling*/
form {
    background: white;
    opacity: 0.8;
    border-radius: 20px;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 60vh;
    width: 40vw;
    text-align: center;
    line-height: 200%;
}

/*Heading styling in form*/
h1 {
    text-align: center;
}