/*GENERAL STYLING*/
body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    color: #4d4d4d;
}

h1 {
    text-align: center;
}

/*NAVIGATION BAR: For home, about, gallery, and contact pages*/
/*Set nav bar as main flex conainer, make it sticky and style it*/
.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    position: sticky;
    top: 8px; /*top of nav bar positioned 8px from the top of window*/
    z-index: 6;
    background-color: white;
}
/*Set left flexbox space to 30%*/
.left {
    flex: 30%;
}
/*Set middle flexbox space to 40% and also make it a flex container for gallery, about and contact to be on one line*/
.middle {
    flex: 40%;
    display: flex;
    justify-content: center;
}
/*Set right flexbox space to 30%*/
.right {
    flex: 30%;
    text-align: right;
}
/*Style logo*/
#logo {
    object-fit: scale-down;
    height: 50px;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
/*Style gallery, about, contact, login buttons*/
button {
    border: none;
    padding: 25px;
    background-color: white;  
}
/*Style gallery, about, contact, login button text*/
button a {
    text-decoration: none;
    color: #4d4d4d;
    letter-spacing: 2px;
    padding: 5px;
}
/*dropdown button needs its own styling*/
.dropbtn {
    letter-spacing: 2px;
}
/*Show dropdown as vertical list*/
.dropdown {
    display: inline-block;
}
/*Show dropdown on hover and style it*/
.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;

}
/*Hide dropdown content by default and make sure it stacks on top when shown*/
.dropdown-content {
    display: none;
    position: fixed;
    z-index: 9999;
}
/*Style the links on the dropdown menu*/
.dropdown-content a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #4d4d4d;
    margin-bottom: 5px;
    padding: 5px;
    z-index: 9999;
}
/*special styling for login button*/
#login {
    border-radius: 20px; 
    background-color: #3cc573;
    padding: 10px;
    margin: 15px;
}
/*highlight effect for hover*/
button:hover, .dropbtn:hover, .dropdown-content a:hover {
    background-color: #3ec5c5;
}
/*highlight effect for active*/
button:active, .dropbtn:active, .dropdown-content a:active {
    background-color: #3cc573;
}
/*highlight current subpage of gallery*/
#current {
    background-color: #3cc573;
    border: none;
}


/*SLIDESHOW*/
.modal {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    vertical-align: middle;
    margin: auto;
    width: 80%;
    height: 100%;
  }
  
  .slide {
    display: none;
    margin: auto;
  }
  
  .image-slide {
    width: auto;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .previous,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .previous:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }