*,
*::before
*::after
{
    box-sizing: border-box;
}
body
{
    background: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: auto;
}

/*Navigation bar*/

.nav
{
    position: relative;
    display: flex;
    align-items: center;   
    justify-content: center;
    width: fit-content;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 6;
}
.logo
{
    float: left;
    width: 5%;
    padding-right: 70px;
}
.logo img
{
    padding-right: 120px;
}
.nav-bar
{
    overflow: hidden;
    background-color: #F2F2F2;
    box-shadow: 0px 6px 10px 0px #4d4d4d;
}
ul
{
    width: 100%;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}
li
{
    float: left;
}
.nav-line1, .nav-line2, .dropdown, .nav-line3
{
    padding-right: 60px;
}
.nav-line4
{
    padding-right: 10px;
}
.nav-line4 a:hover
{
    background-color: turquoise;
}
li a, .dropbtn
{
    text-decoration: none;
    position: relative;
    display: inline-block;
    align-items: center;   
    justify-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d;
    padding: 14px;
}
li a:hover, .dropdown:hover .dropbtn
{
    background-color:#4d4d4d;
    color: white;
}
li.dropdown
{
    display: inline-block;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a
{
    color: #4d4d4d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.nav-bar .dropdown-content a:active
{
    background-color: aqua;
}
.dropdown-content a:hover
{
    background-color: #4d4d4d;
}
.dropdown:hover .dropdown-content
{
    display: block;
}

/*Title*/

.header {
    padding: 30px;
    text-align: center;
    font-family: "ariel";
    color: #4d4d4d;
    margin: auto;
    width: 100%;
}
.header h1
{
    font-size: 30px;
    padding-right: 60px;
}

/*Gallery table*/ 

.container
{
    width: fit-content;
    margin: auto;
}
.gallery
{
    display: relative;
    margin: auto;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container .box
{
    position: relative;
    width: 300px;
    height: 224px;
    background: #F2F2F2;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 4px 8px 12px 0 black;
}
.container .box .imgBox
{
    position: relative;
    overflow: hidden;
}
.container .box1 .imgBox2
{
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img
{
    transition: transform 2s;
    border-radius: 1.5em;
}
.container .box1 .imgBox2 img
{
    transition: transform 2s;
    border-radius: 1.5em;
}
.container .box:hover .imgBox img
{
    transform: scale(1.2);
    cursor: pointer;
}
.container .box1:hover .imgBox img
{
    transform: scale(1.2);
    cursor: pointer;
}
.container .box .details
{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .box:hover .details
{
    transform: scaleY(1);
    cursor: pointer;
    border-radius: 1.5em;
}
.container .box .details .content
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}
.container .box .details .content h2
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff0;
}
.container .box .details .content p
{
    margin: 10px 0 0;
    padding: 0;
}
.imgBox2 img
{
    box-shadow: 4px 8px 12px 0px black;
}
.container, .box, .box1, .imgBox2 img
{
    transition: transform 2s;
    border-radius: 1.5em;border-radius: 1.5em;
}
.container .box:hover .imgBox2 img
{
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 0;
}
.container .box1:hover .imgBox2 img
{
    transform: scale(1.1);
    cursor: pointer;
    border-radius: 0;
}
.box1
{
    padding-top: 10px;
}

/*Slideshow*/

.modal
{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
.modal-content
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    vertical-align: middle;
    margin: auto;
    width: 80%;
    height: 100%;
}
.slide
{
    display: none;
    margin: auto;
}
.image-slide
{
    width: auto;
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}
.close
{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover, .close:focus
{
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.previous, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
}
.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.previous:hover, .next:hover
{
    background-color: rgba(0, 0, 0, 0.9);
}
