*,
*::before
*::after
{
    box-sizing: border-box;
}
body
{
    background: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
}

/*Navigation bar*/

.nav
{
    position: relative;
    display: flex;
    align-items: center;   
    justify-content: center;
    width: fit-content;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 6;
}
.logo
{
    float: left;
    width: 5%;
    padding-right: 70px;
}
.logo img
{
    padding-right: 120px;
}
.nav-bar
{
    overflow: hidden;
    background-color: #F2F2F2;
    box-shadow: 0px 6px 10px 0px #4d4d4d;
}
ul
{
    width: 100%;
    text-align: center;
    list-style-type: none;
    overflow: hidden;
}
li
{
    float: left;
}
.nav-line1, .nav-line2, .dropdown, .nav-line3
{
    padding-right: 60px;
}
.nav-line4
{
    padding-right: 10px;
}
.nav-line4 a:hover
{
    background-color: turquoise;
}
li a, .dropbtn
{
    text-decoration: none;
    position: relative;
    display: inline-block;
    align-items: center;   
    justify-content: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4d4d4d;
    padding: 14px;
}
li a:hover, .dropdown:hover .dropbtn
{
    background-color:#4d4d4d;
    color: white;
}
li.dropdown
{
    display: inline-block;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a
{
    color: #4d4d4d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.nav-bar .dropdown-content a:active
{
    background-color: aqua;
}
.dropdown-content a:hover
{
    background-color: #4d4d4d;
}
.dropdown:hover .dropdown-content
{
    display: block;
}

/*Title*/

.header {
    padding: 30px;
    text-align: center;
    font-family: "ariel";
    color: #4d4d4d;
  }
  .header h1
  {
    font-size: 30px;
  }

/*Gallery*/

.container
{
    width: fit-content;
    margin: auto;
}
.image-gallery
{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 
                'img-1 img-2 img-3 img-3'
                'img-1 img-4 img-5 img-6'
                'img-7 img-7 img-8 img-6'
                'img-9 img-10 img-10 img-11'
                'img-9 img-12 img-12 img-11';
}
.img-1
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-2
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-3
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-4
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-5
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-6
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-7
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-8
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-9
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-10
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-11
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.img-12
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i
{
    color: rgba(255, 255, 255,  .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 2rem;
    border: 2px solid rgba(255,255,255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}
h5
{
    font-size: 14px;
}
.img-1::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.img-2::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.img-3::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.img-4::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.img-5::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.img-6::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.img-7::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.img-8::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a:hover i, .image-gallery a:hover::before
{
    opacity: 1;
}
.img-1
{
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url("Parks/algonquin-provincial-park-1748100_960_720.jpg");
}
.img-2
{
    grid-area: img-2;
    background-image: url("Parks/Bon-Echo-Provincial-Park.jpg");
}
.img-3
{
    grid-area: img-3;
    background-image: url("Parks/Chutes-Provincial-Park.jpg");
}
.img-4
{
    grid-area: img-4;
    background-image: url("Parks/Killarney-Provincial-Park.jpg");
}
.img-5
{
    grid-area: img-5;
    background-image: url("Parks/Komoka-Provincial-Park.jpg");
}
.img-6
{
    min-height: 51.5rem;
    grid-area: img-6;
    background-image: url("Parks/Presquile-Provincial-Park.jpg");
}
.img-7
{
    grid-area: img-7;
    background-image: url("Parks/Missinaibi-Provincial-Park.jpg");
}
.img-8
{
    grid-area: img-8;
    background-image: url("Parks/Forks-of-the-Credit-Provincial-Park.jpg");
}

@media screen and (max-width: 900px)
{
    .image-gallery
    {
        grid-template-areas: 
                'img-1 img-1 img-2 img-2'
                'img-1 img-1 img-3 img-3'
                'img-4 img-4 img-5 img-5'
                'img-6 img-7 img-7 img-7'
                'img-8 img-8 img-8 img-8';
    }
    .image-gallery a
    {
        height: 20rem;
    }
    .img-1
    {
        min-height: 41.5rem;
    }
    .img-6
    {
        min-height: 20rem;
    }
    li a, .dropbtn
    {
        font-size: 14px;
        width: 100%;
    }
}
@media screen and (max-width: 600px)
{
    .image-gallery
    {
        grid-template-areas: 
                'img-1 img-1 img-1 img-1'
                'img-2 img-2 img-2 img-2'
                'img-3 img-3 img-3 img-3'
                'img-4 img-4 img-4 img-4'
                'img-5 img-5 img-5 img-5'
                'img-6 img-6 img-6 img-6'
                'img-7 img-7 img-7 img-7'
                'img-8 img-8 img-8 img-8';
    }
    .image-gallery a, .img-1, .img-6
    {
        min-height: 30rem;
        height: 30rem;
    }
    li a, .dropbtn
    {
        font-size: 14px;
        width: 100%;
    }
}

